<% provide(:title, "Главная страница") %>
  <div class="center jumbotron">
    <% if current_user %>
      <%= link_to "Моя страница", current_user, class: "button1"%>
  </div>
    <% else %>
      <%= link_to "Войти как пользователь VK", "/auth/vkontakte", id: "sign_in", class: "button1" %>
    <% end %>


