- provide(:title, @user.name)
- if current_user==@user
  - if current_user
    .row
      %aside.col-md-4
        %section.micropost_form= render 'shared/photo_form'
        
  = render 'shared/user_photo'
- else
  = render 'shared/user_photo'